html {
    font-family: sans-serif;
    --color-text-light: rgb(34, 34, 45);
    --color-bg-light: rgb(231, 231, 231);

    --color-text-dark: rgb(231, 231, 231);
    --color-bg-dark: rgb(30, 30, 31);

    --color-accent1: rgb(60, 78, 181);
    --color-accent2: rgb(209, 128, 23);

    --color-links: rgb(83, 108, 250);

    --content-maxwidth: 800px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
    html {
        --text-color: var(--color-text-light);
        --bg-color: var(--color-bg-light);
    }

    a {
        color: var(--color-accent1);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --text-color: var(--color-text-dark);
        --bg-color: var(--color-bg-dark);
    }

    a {
        color: var(--color-links);
    }
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline !important;
}

p {
    text-align: justify;
}

img {
    max-width: var(--content-maxwidth);
}

table {

    border-collapse: collapse;
    align-self: center;
}

th,
td {
    border: 1px solid rgb(161, 161, 161);
}

tr:nth-child(even),
thead {
    background-color: #82828224;
}

tr,
td,
th {
    padding: 4px 8px 4px 4px;
}

pre {
    background-color: #9f9f9f30;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
}

/* this is sort of nasty but triple ` code blocks get wrapped as pre > code, applying both styles. so we do this to get rid of the code styling */
pre code {
    background-color: #00000000;
}

code {
    background-color: #9f9f9f30;
    padding: 2px;
    border-radius: 5px;
}

ul,
ol {
    padding-left: 20px;
    margin: 0.3em 0 0.3em 0;
}

ul.tags {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: smaller;
}

li.tag {
    padding: 2px 6px;
    border: 2px solid var(--color-accent1);
    border-radius: 8px;
    margin-right: 7px;
}

/* this fixes everything related list margins including nested lists etc. */
li {
    margin-top: 0.3em;
}

/* you can't style disabled checkboxes so we have to do this hack */
.content input[type=checkbox] {
    pointer-events: none;
}

.center {
    max-width: var(--content-maxwidth);
    margin: auto;
}

.toc {
    max-width: 30%;
    float: right;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    z-index: 100;
    margin-left: 1em;
    padding: 5px;
    text-align: start;
}

/* table of contents is not displayed if it has no content content */
.toc:not(:has(li)) {
    display: none;
}

.toctitle {
    font-size: larger;
}

.icon {
    display: inline-block;
    width: 14px;
    margin: auto;
    align-self: safe;
}

.content {
    padding: 0 0.5em 1em;
    z-index: 90;
}

.accent1 {
    background-color: var(--color-accent1);
}

.accent2 {
    background-color: var(--color-accent2);
}

#topbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14pt;
    padding: 3px 15px;
    z-index: 99;
}

#topnav {
    padding: 10px;
}

#bottombar {
    padding: 24px;
    text-align: center;
}

#topnav,
#bottombar,
#topnav a,
#bottombar a {
    color: var(--color-text-dark);
    text-decoration: none;
}

#tarea {
    margin-top: 1em;
    resize: vertical;
    width: 100%;
    border-radius: 0;
    border: 2px solid gray;
    outline: none;

    background-color: var(--bg-color);
    color: var(--text-color);
}