html {
    font-family: sans-serif;
    --color-text-light: rgb(34, 34, 45);
    --color-bg-light: rgb(231, 231, 231);

    --color-text-dark: rgb(231, 231, 231);
    --color-bg-dark:rgb(30, 30, 31);

    --color-accent1: rgb(86, 98, 162);
    --color-accent2: rgb(44, 39, 177);

    --content-maxwidth: 800px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body {
    margin: 0;
}

a {
    color: var(--color-accent1);
}

div.bottombar a {
    color: var(--color-light);
}

p {
    text-align: justify;
}

.center {
    max-width: var(--content-maxwidth);
    margin: auto;
}

img {
    max-width: var(--content-maxwidth);
}

nav.topnav {
    padding: 10px;
    color: var(--color-text-dark) !important;
    background-color: var(--color-accent1);
}

nav.topnav a {
    color: var(--color-light);
    text-decoration: none;
    padding: 5px;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    align-self: center;
}

tr:nth-child(odd) {
    background-color: #82828224;
}

tr,
td,
th {
    padding: 6px 12px 6px 6px;
}

.body {
    display: flex;
}

.toc {
    width: 30%;
    float: right;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    z-index: 100;
    margin-left: 1em;
    padding: 5px;
    text-align: start;
}

.toc ul {
    padding-left: 20px;
    margin: 0;
}

li {
    margin: 0 0 0.3em 0;
}

.icon {
    display: inline-block;
    width: 14px;
    margin: auto;
    align-self: safe;
}

.content {
    padding: 0 0.5em 1em;
    z-index: 90;
}

.bottombar {
    text-align: center;
    padding: 24px;
    background-color: var(--color-accent1);
    color: var(--color-light);
}

@media (prefers-color-scheme: light) {
    html {
        --text-color: var(--color-text-light);
        --bg-color: var(--color-bg-light);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --text-color: var(--color-text-dark);
        --bg-color: var(--color-bg-dark);
    }
}

#topbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14pt;
    padding: 3px 15px;
    z-index: 99;
}