<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>MarkWiki</title>
    <meta name="viewport" content="initial-scale-1.5">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <nav id="topnav" class="accent1">
        <div class="center">
            <a href="/">MarkWiki</a>
            |
            <a href="/sitemap">Sitemap</a>
            |
            <a href="/changes">History</a>
            {% block header %}
            {% endblock %}
            <div style="float: right;">
                theme:
                <button onclick="setMode('light')">light</button><!--&#9898;-->
                <button onclick="setMode('dark')">dark</button><!--&#9899;-->
                <button onclick="setMode('')">auto</button>
            </div>
        </div>
    </nav>
    <div class="content center">
        {% block content %}
        {% endblock %}
    </div>
    <div id="bottombar" class="accent1">
        markdown-wiki project <br>
        created by <a href="https://github.com/Kraballa">github.kraballa</a>
    </div>
    <script src="{{ url_for('static', filename='util.js')}}"></script>
    <script>
        function setMode(str){
            document.querySelector("body").setAttribute("theme", str);
            localStorage.setItem("theme", str);
        }

        if(localStorage.getItem("theme") != null){
            setMode(localStorage.getItem("theme"));
        }
    </script>
</body>

</html>